@{
    ViewBag.Title = "About";
}

<h1>@Model["title"]</h1>
<h2>Ingredients</h2>

@Model["ingredients"]
<img src="@Model["thumbnail"]" alt="Picture" />
<a href="..\Home\SaveNewFavorite?title=@Model["title"]">Add Recipe To Favorites</a>

<p>Original Website:</p>
@Model["href"]