@{
    ViewBag.Title = "About";
}

<h1>@Model["title"]</h1>
<h2>Ingredients</h2>

@Model["ingredients"]
<img src="@Model["thumbnail"]" alt="Picture" />


<form action="../Home/Contact" method="post">
    <button type="submit">Add To Favorites</button>
</form>
<p>Original Website:</p>
@Model["href"]