

<h1>Your Favorites List</h1>



@foreach (var fav in Favorites)
{

    @*<table>
            <tr>
                <th>Recipe</th>
                <th>Ingredients</th>

            </tr>

            @foreach (var recipe in Model)
            {
                <tr>
                    <td>@.Title</td>
                    <td>@.Ingredients</td>
                    web link

                </tr>
            }


        </table>*@





}



