<h2>Favorites</h2>

<table style="width:115%">
    <tr>
        <th>Item</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Favorite</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src='@item["thumbnail"]' style="width:75%" />
            </td>
            <td>
                <a href="../Home/About?item=@item">@item["title"]</a>
            </td>
            <td>
                @item["ingredients"]
            </td>
            <td>
                <form action="../Home/RemoveFavorite">
                    <button type="submit" name="item" value='@item'>Remove Favorite</button>
                </form>
            </td>
        </tr>
    }
</table>