

<h1>Your Favorites List</h1>





<table>
    <tr>
        <th>Recipe Title</th>
        

    </tr>
    @foreach (var fav in Model)
    {
        <tr>
            
            <td>@fav.RecipeTitle</td>


        </tr>

    }

    </table>









