<h1 style="font-size:100px;text-decoration:underline;color:black;">Favorites</h1>



<div class="fav">
    <table style="width:115%;text-decoration:underline;background-color:aqua">
        
        <tr>
            <th style="font-size:30px">Item</th>
            <th style="font-size:30px" >Name</th>
            <th style="font-size:30px">Ingredients</th>
            <th style="font-size:30px" >Remove</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src='@item["thumbnail"]' style="width:75%" />
                </td>
                <td>
                    <a href="../Home/About?item=@item">@item["title"]</a>
                </td>
                <td>
                    @item["ingredients"]
                </td>
                <td>
                    <form action="../Home/RemoveFavorite">
                        <button type="submit" name="item" value='@item' class="btn-danger">Remove Favorite</button>
                    </form>
                </td>
            </tr>
        }
    </table></div>
