


<form action="../" method="post" class="btn-default">
    <h3>Title</h3>
    <input type="text" name="Title" /><br />
    <p>Or</p>
    <h3>Ingredients</h3>
    <input type="text" name="Engredients" />

    <input type="submit" class=" btn-danger" />
</form>






<form action="../Home/" method="post">
    @foreach (var item in @ViewBag.results)
    {
        <table>
             <tr>
                <th>Title</th>
                <th>Ingredients</th>
                <th>Thumbnail</th>

                <td>@item["title"]</td><br />
                <td>@item["ingredients"]</td><br />
             </tr>
        </table>

        <input type="submit" value="Add To Favorites"><br
        <img src="@item["thumbnail"] alt="Picture" />
    }
</form>