<br />
<form action="/Home/Index" method="get">
    <select name="type" value="q=">
        <option value="q=">Search</option>
        <option value="i=">By ingredients(',' between each)</option>
    </select>
    <input type="text" required placeholder="Search" name="input"/>
    <input type="submit" value="Search" />
</form>
<br />
<form action="/Home/SaveNewFavorite" method="post">
    <table>
        <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Favorite</th>
        </tr>
        @foreach(var item in ViewBag.results)
        {
            <tr>
                <td>
                    <img src='@item["thumbnail"]' />
                </td>
                <td>
                    <a href="../Home/About?item=@item">@item["title"]</a>
                </td>
                <td>
                    @item["ingredients"]
                </td>
                <td>
                    <button type="submit" name="item" value='@item' class="btn-primary">Add Favorite</button>
                </td>
            </tr>
        }
    </table>
</form>